<div id="particles-js">
  <div class="header">
    <h1>
      <span class="site-title">
		<a class="site-title" href="{{ site.url | absolute_url }}" >{{site.title}}</a>
	  </span>
      <span class="site-description">{{site.tagline}}</span>
    </h1>
    
    {% include social.html %}

    <div class="header-links">
      <nav>
        <a class="link" href="#about" data-scroll>About Me</a>
        {% assign pages_list = site.pages | sort:"url" %}
        {% for node in pages_list %}
        {% if node.title != null %}
        {% if node.layout == "page" or node.layout == "blog" %}
        <a class="link{% if page.url == node.url %} active{% endif %}" href="{{ node.url | absolute_url }}">{{ node.title }}</a>
        {% endif %}
        {% endif %}
        {% endfor %}
      </nav>
    </div>
  </div>

  {% if page.name == "index.html" %}
  <a class="down" href="#about" data-scroll><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
  {% endif %}
</div>
