---
layout: default
---

<div class="page">
  <h1 class="page-title"> Articles </h1>
</div>

<div class="posts">
  {% for post in site.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url | absolute_url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>
    <span>{{ post.excerpt | markdownify | truncatewords: 30 }}</span>
    {% comment %}
    {{ post.content }}
    {% endcomment %}

  </div>
  {% endfor %}
</div>

