<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    {% include header.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
      content to avoid any CSS collisions with our real content. -->
      <section id="about">
        <div class="wrap">
          <div class="masthead">
            <div class="container">
              <h3 class="masthead-title">
                <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
                <small>{{ site.tagline }}</small>
              </h3>
            </div>
          </div>

          <div class="about">
            <div class="user-details">
              <h1> About Me </h1>
              <p> {{site.user_description}} </p>
            </div>
          </div>


          <h1>Latest Posts</h1>

          <div class="posts">
            {% for post in paginator.posts %}
            <div class="post">
              <h1 class="post-title">
                <a href="{{ post.url | absolute_url }}">
                  {{ post.title }}
                </a>
              </h1>

              <span class="post-date">{{ post.date | date_to_string }}</span>
              <span>{{ post.excerpt | markdownify | truncatewords: 30 }}</span>
              {% comment %}
              {{ post.content }}
              {% endcomment %}

            </div>
            {% endfor %}
          </div>

          <div class="pagination">
            {% if paginator.next_page %}
            <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Older</a>
            {% else %}
            <span class="pagination-item older">Older</span>
            {% endif %}
            {% if paginator.previous_page %}
            {% if paginator.page == 2 %}
            <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Newer</a>
            {% else %}
            <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Newer</a>
            {% endif %}
            {% else %}
            <span class="pagination-item newer">Newer</span>
            {% endif %}
          </div>


        </div>

      </section>


      <label for="sidebar-checkbox" class="sidebar-toggle"></label>
      <script src='{{ site.baseurl }}/public/js/script.js'></script>
  </body>
</html>
